@import "palette";
@import "vars";

.plugin-embed {
  .actions {
    button + button {
      margin-left: $margin-s;
    }
  }

  .rules {
    display: flex;
    flex-flow: row wrap;

    .item {
      cursor: pointer;
      border-radius: $margin-xs;
      border: 1px solid palette(Grey, 200);
      width: 160px;
      padding: $margin;
      margin: $margin-xs;
      flex: 0 1 auto;

      &.selected {
        border: 1px solid palette(Blue, 700);
        background-color: palette(Blue, 500);
        color: palette(White, 500);
      }

    }
  }

  .utils-info {
    font-size: 0.8em;
    line-height: 1.2em;
    color: palette(Blue Grey, 700);
  }
}